<div class="list-group-item workout-item  <%= moment().diff(wo.get('created'), 'd') < 7 ? 'new' : '' %>" data-name="<%= wo.get('name') %>">
    <span class="badge"><%= moment.utc(1000 * (wo.totalTime)).format("HH:mm:ss") %></span>
    <div class="workout-name"><div class="new-workout">NEW</div><%= wo.get('name') %></div>
    <div class="clearfix">
        <div class="workout-exercise-cnt"><%= wo.get('sets').length %> set<% if(wo.get('sets').length != 1) { %>s<% } %>, <%= wo.exerciseCnt %> exercise<% if(wo.exerciseCnt != 1) { %>s<% } %></div>
        <div class="workout-equipment"><%= (wo.get('equipment') ? wo.get('equipment') : []).join(', ').toUpperCase() %></div>
    </div>

    <div class="row item-actions">
        <div class="col-xs-6"><a class="do-workout center-block text-center" href="#workout/<%= wo.get('name') %>"><i class="glyphicon glyphicon-ok"></i> &nbsp;Do Workout</a></div>
        <div class="col-xs-6"><a class="view-details center-block text-center" href="#details/<%= wo.get('name') %>"><i class="glyphicon glyphicon-th-list"></i> &nbsp;View Details</a></div>
    </div>

    <div class="text-center item-actions-indicator">
        <i class="glyphicon glyphicon-chevron-down open"></i>
        <i class="glyphicon glyphicon-chevron-up"></i>
    </div>
</div>