<%

%>
<div class="page-content">

    <h2 class="text-center">Text To Speech Instructions</h2>

    <% if(_.device('platform') == 'Android') { %>
        <% if(_.compareVersions(_.device('version'), '>=', '4.2.2')) { %>
        <p>In Android 4.2.2 or later, head to the Settings Language & Input panel, and then select Text-to-speech output, located toward the bottom of the screen.</p>
        <div><img class="img-responsive" src="images/tts/android/4.2.2/tts_settings.png"></div>

        <p class="spaceTop">Tap on Preferred Engine to set up the language your device should speak. From this page, you can also install any additional language packs, if necessary, and choose whether or not Google can update the TTS app using your cellular data.</p>
        <div><img class="img-responsive" src="images/tts/android/4.2.2/tts_output.png"></div>

        <p class="spaceTop">If you head back a screen, you can select the rate at which the digital TTS voice speaks and install additional voice data, including the High Quality voice that Google recently made available. On Android 4.4 KitKat, there's an extra option that displays the default language status.</p>
        <div><img class="img-responsive" src="images/tts/android/4.2.2/tts_voice.png"></div>
        <% } else if(_.compareVersions(_.device('version'), '>=', '4.0.3')) { %>
        <p>In Android 4.0.3 you can install Google Text-to-Speech from the Google Play Store. Please install <a class="btn btn-link btn-xs btn-default" target="_blank" href="https://play.google.com/store/apps/details?id=com.google.android.tts">Google Text-to-Speech</a> and configure. Then restart Workout Challenge.</p>
        <% } else { %>
        <p>In order to use Text-to-Speech (TTS) your phone needs a TTS engine, SVOX is a free TTS engine you can download from the play store. Please install <a class="btn btn-link btn-xs btn-default" target="_blank" href="https://play.google.com/store/apps/details?id=com.svox.classic">Classic Text To Speech Engine</a> and configure. Then restart Workout Challenge.</p>
        <% } %>
    <% } %>

    <p><button class="btn btn-block btn-lg btn-default test-tts">Test Text-to-Speech</button></p>
</div>