<!--<audio id="audio-start" src="media/start.mp3" preload="auto"></audio>-->
<!--<audio id="audio-stop" src="media/stop.mp3" preload="auto"></audio>-->
<!--<audio id="audio-half" src="media/half.mp3" preload="auto"></audio>-->
<div class="screensaver">
    <div class="panning">
        <img src=""/>
    </div>
</div>
<div class="app workout ready page-content">
    <div class="back-container">
        <a href="#" class="page-back"><i class="glyphicon glyphicon-backward"></i> Back</a>
    </div>

    <div class="workout-details">
        <div class="current-workout"></div>
        <div>Remaining: <span class="total-progress-time text-right"></span></div>
        <div class="next-exercise"></div>
        <div class="settings-container item-row">
            <!--<div class="settings-control item-parent" data-setting="pictures"><div class="item setting setting-pictures"><i class="glyphicon glyphicon-picture"></i></div></div>-->
            <div class="settings-control item-parent" data-setting="voice"><div class="item setting setting-voice"><i class="glyphicon glyphicon-headphones"></i></div></div>
            <div class="settings-control item-parent" data-setting="queues"><div class="item setting setting-queues"><i class="glyphicon glyphicon-volume-up"></i></div></div>
        </div>
    </div>

    <div class="main-details">
        <div class="main-details-center">
            <div class="main-details-content">
                <div class="current-exercise"></div>
                <div class="center-block current-exercise-icon"><i class="icon"></i></div>
                <div class="main-countdown"></div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-details">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <div class="workout-controls item-row">
                        <div class="control item-parent play"><div class="item glyphicon glyphicon-play"></div></div>
                        <div class="control item-parent pause"><div class="item glyphicon glyphicon-pause"></div></div>
                        <div class="control item-parent restart"><div class="item glyphicon glyphicon-refresh"></div></div>
                        <!--<button class="btn btn-danger pause"><i class="glyphicon glyphicon-stop"></i></button>-->
                        <!--<button class="btn btn-warning pause"><i class="glyphicon glyphicon-pause"></i></button>-->
                        <!--<div class="skip"></div>-->
                    </div>
                </div>

                <div class="col-xs-6 col-sm-8">
                    <div class="total-progress-bar progress progress-striped active" style="width:100%">
                        <div
                                class="progress-bar progress-bar-success"
                                role="progressbar"
                                aria-valuenow="40"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                style="width: 0%">
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-2">
                    <div class="total-progress-steps text-center"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="debug">
        <div class="screen"></div>
    </div>
</div>