<%
    var equipment = {};
    workouts.each(function(wo){
        var eList = wo.getEquipment();
        _.each(eList, function(e){
            if(!_.has(equipment, e)) {
                equipment[e] = [];
            }

            equipment[e].push(wo);
        });
    });
%>

<div class="page-content">
    <div class="clearfix">
        <div class="workout-display-options pull-right">
            <p>Order: </p>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs<%= (display == 'newest') ? ' active' : '' %>" data-option="newest">Newest</button>
                <button type="button" class="btn btn-default btn-xs<%= (display == 'alphabetical') ? ' active' : '' %>" data-option="alphabetical">A-Z</button>
                <button type="button" class="btn btn-default btn-xs<%= (display == 'equipment') ? ' active' : '' %>" data-option="equipment">Equipment</button>
            </div>
        </div>
    </div>

    <div class="list-group workout-list ">
        <% if(display == 'alphabetical') {%>
            <%
            var sorted = workouts.sortBy(function(m) { return m.get('name'); });
            _.each(sorted, function(wo){ %>
                <%= _.template(itemTpl, {wo: wo}) %>
            <% }); %>
        <% } else if(display == 'equipment') { %>
            <% for(e in equipment) { %>
                <div class="list-group-item workout-equipment-item">
                    <div class="workout-name"><%= e.toUpperCase() %></div>
                </div>
                <% _.each(equipment[e], function(wo){ %>
                    <%= _.template(itemTpl, {wo: wo}) %>
                <% }); %>
            <% } %>
        <% } else if(display == 'newest') { %>
            <%
            var sorted = workouts.sortBy(function(m) { return -(moment(m.get('created')).valueOf()); });
            _.each(sorted, function(wo){

            %>
                <%= _.template(itemTpl, {wo: wo}) %>
            <% }); %>
        <% } %>
    </div>
</div>