<%

%>

<div class="page-content">

    <div class="list-group workout-details-list ">
        <% _.each(workout.get('sets'), function (set){ %>
        <div class="list-group-item-heading">
            <%= set.name %>
            <% _.each(set.exercises, function(ex){ %>
            <div class="list-group-item workout-details-item clearfix">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="exercise-icon"><i class="icon icon-<%= ex.equipment %>"></i></div>
                        <div class="exercise-name"><%= ex.name %></div>
                    </div>
                    <div class="col-xs-3"><span class="badge pull-right"><%= moment.utc(1000 * (ex.time)).format("mm:ss") %></span></div>
                </div>
                <div class="exercise-description"></div>
                <div class="text-center item-actions-indicator">
                    <i class="glyphicon glyphicon-chevron-down open"></i>
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </div>
            </div>
            <% }); %>
        </div>
        <% }); %>
    </div>

    <div class="clearfix">
        <a class="btn btn-default btn-lg btn-block" href="#workout/<%= workout.get('name') %>">Do Workout</a>
    </div>
</div>