@font-face {
	font-family: 'workout_challenge';
	src:url('../fonts/workout_challenge.eot?-77r2o0');
	src:url('../fonts/workout_challenge.eot?#iefix-77r2o0') format('embedded-opentype'),
		url('../fonts/workout_challenge.woff?-77r2o0') format('woff'),
		url('../fonts/workout_challenge.ttf?-77r2o0') format('truetype'),
		url('../fonts/workout_challenge.svg?-77r2o0#workout_challenge') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'workout_challenge';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-band:before {
  content: "\e605";
}
.icon-none:before {
  content: "\e600";
}
.icon-na:before {
  content: "\e601";
}
.icon-stairs:before {
  content: "\e604";
}
.icon-mat:before {
  content: "\e602";
}
.icon-kb:before {
  content: "\e603";
}
