* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#000;
    /*background-image:linear-gradient(top, #4C4C4C 0%, #000 51%);
    background-image:-webkit-linear-gradient(top, #4C4C4C 0%, #000 51%);
    background-image:-ms-linear-gradient(top, #4C4C4C 0%, #000 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #4C4C4C),
        color-stop(0.51, #000)
    );*/
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:16px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    color: #eee;
    /*text-shadow: #4C4C4C 0.1em 0.1em 0.1em;*/
}

.btn {
    font-size: inherit;
}

/* Portrait layout (default) */
/*.app {
    position:absolute;             *//* position in the center of the screen *//*
    left:50%;
    top:50%;
    height:50px;                   *//* text area height *//*
    width:225px;                   *//* text area width *//*
    text-align:center;
    padding:180px 0px 0px 0px;     *//* image height is 200px (bottom 20px are overlapped with text) *//*
    margin:-115px 0px 0px -112px;  *//* offset vertical: half of image height and text area height *//*
                                   *//* offset horizontal: half of text area width *//*
}

*//* Landscape layout (with min-width) *//*
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  *//* padding-top + padding-bottom + text area = image height *//*
        margin:-90px 0px 0px -198px;  *//* offset vertical: half of image height *//*
                                      *//* offset horizontal: half of image width and text area width *//*
    }
}*/

h1 {
    font-size:2em;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

div.btn {
    display: inline-block;
    padding: .5em;
}

.btn-transparent, .btn:hover {
    color: inherit;
    background: transparent;
}

.debug {
    display: none;
    background-color: rgba(0,0,0, 0.70);
    padding: .5em;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
}

/** Layout **/

#page .page-content {
    margin-top: 4.5em;
}

#page .app.page-content {
    margin-top: 0;
}

.workout-list {
    color: #0c0c0c;
    margin: .5em;
}

.workout-list .workout-item {
    cursor: pointer;
}

.workout-list .workout-item .badge {
    font-size: .9em;
}

.workout-list .workout-item .workout-equipment {
    position: absolute;
    right: .5em;
    bottom: .2em;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    color: #010101;
}

.header .header-left {
    /*display: inline-block;*/
    float: left;
    padding: 0;
    margin: 0;
    /*width: 25%;*/
}

.header .header-left > img {
    width: 4em;
    height: 4em;
    padding: .2em;
}

.back-container {
    position: absolute;
    left: 0;
    top: 0;
    padding: .5em;
    /*background-color: rgba(17, 17, 17, 0.80);*/
    background-color: rgba(0,0,0, 0.70);
    border-radius: .5em .5em 0 0;
    z-index: 15;
}

.back-container a,
.back-container a:link,
.back-container a:hover,
.back-container a:visited
{
    font-size: .75em;
    color: #fff;
    text-transform: none;
    text-decoration: none;
}

.header .header-center {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    /*width: 48%;*/
    width: 100%;
    text-align: center;
    margin-top: 1.1em;
}

.header .header-right {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0;
    text-align: right;
    /*width: 25%;*/
    /*-webkit-transform:rotateY(180deg);*/
    /*-moz-transform:rotateY(180deg);*/
    /*-o-transform:rotateY(180deg);*/
    /*-ms-transform:rotateY(180deg);*/
}

.header .header-right .navbar-toggle {

}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 10;
}

.footer-details {
    vertical-align: middle;
    margin: 0 auto;
    padding: .5em;
    width: 90%;
    /*background-color: rgba(17, 17, 17, 0.80);*/
    background-color: rgba(0,0,0, 0.70);
    border-radius: .5em .5em 0 0;
}

.table-container {
    display: table;
    height: 100%;
}

.table-container > .table-row {
    display: table-cell;
    vertical-align: middle;
}

.footer-details .workout-controls {
    white-space: nowrap;
}

.screensaver {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.screensaver .panning {
    position:fixed;
    width: 50%;
}

.screensaver img {
    max-width: 100%;
    max-height: 100%;
}

.workout-details {
    position: absolute;
    right: 0px;
    /*background-color: rgba(17, 17, 17, 0.80);*/
    background-color: rgba(0,0,0, 0.70);
    border-radius: 0 0 0 .5em;
    padding: .5em;
    text-align: right;
    z-index: 10;
    font-size: 1em;
}

.workout-details .next-exercise {

}

.main-details {
    position:absolute;
    height:100%;
    width:100%;
    display: table;
    z-index: 0;
}

.main-details .main-details-center {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    color: #fff;
}

.main-details-content {
    padding: .5em;
    border-radius: .5em;
    display: inline-block;
    background-color: rgba(0,0,0, 0.70);
}

.workout.working .main-countdown {
    color: #5BB45B;
}

.workout.prepping .main-countdown {
    color: #ffff00;
}

.workout.resting .main-countdown {
    color: red;
}

.main-details .current-exercise {
    font-size: 1.75em;
}

.main-details .main-countdown {
    font-size: 2.25em;
}

.app.ready .main-details .current-exercise {
    font-size: 1.5em;
    line-height: 2em;
}

.workout-controls {
    text-align: center;
}

.workout-controls .control {
    display: none;
}

.workout-controls .control .item {
    display: inline-block;
    padding: .2em .4em;
}

.workout-controls .control .item.item-selected {
    border: 1px solid #5BB45B;
}

.workout.ready .workout-controls .play {
    display: inline-block;
}

.workout.stopped .workout-controls .play,
.workout.stopped .workout-controls .restart {
    display: inline-block;
}

.workout.working .workout-controls .pause,
.workout.working .workout-controls .stop,
.workout.prepping .workout-controls .pause,
.workout.prepping .workout-controls .stop {
    display: inline-block;
}

.total-progress-bar {
    margin: .2em 0;
    display: inline-block;
    vertical-align: middle;
}

.total-progress-steps {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.workout-controls button {
    line-height: .5em;
}

.footer-details > .row > div {
    height: 34px;
}

.settings-container > .settings-control {
    display: inline-block;
}

.settings-container > .settings-control .setting {
    padding: .1em .4em;
    border: 1px solid #000;
}

.settings-container > .settings-control .setting.item-selected {
    border: 1px solid #5BB45B;
}

.settings-control.active .setting {
    color: #5BB45B;
}

@media(max-width:767px){
    body {
        font-size:16px;
    }

    .footer-details > .row > div {
        height: 30px;
    }
}
@media(min-width:768px){
    body {
        font-size:22px;
    }

    .footer-details > .row > div {
        height: 36px;
    }
}
@media(min-width:992px){
    body {
        font-size:36px;
    }

    .footer-details > .row > div {
        height: 54px;
    }
}
@media(min-width:1200px){
    body {
        font-size:40px;
    }

    .footer-details > .row > div {
        height: 58px;
    }
}