$colorBg: #4C5874;
$colorTextLight: #b4bdd1;
$colorTextMedium: #9198A8;
$colorTextDark: #212E4D;
$colorLight: #434B5D;
$colorAccentLight: #575E70;
$colorDark: #15213B;
$colorAccentDark: #202A41;
$colorAccentMedium: #777;
$colorOverlayDark: rgba(21,33,59, 0.70);

$header-height: 4;
$corner-radius: 2px;

@import "exercises";

@mixin transition($property: all, $timing: 500ms) {
  -webkit-transition: $property $timing;
  -moz-transition: $property $timing;
  transition: $property $timing;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: $colorBg;
  /*background-image:linear-gradient(top, #4C4C4C 0%, #000 51%);
  background-image:-webkit-linear-gradient(top, #4C4C4C 0%, #000 51%);
  background-image:-ms-linear-gradient(top, #4C4C4C 0%, #000 51%);
  background-image:-webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #4C4C4C),
      color-stop(0.51, #000)
  );*/
  background-attachment:fixed;
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size:16px;
  height:100%;
  margin:0px;
  padding:0px;
  width:100%;
  color: $colorTextLight;
  /*text-shadow: #4C4C4C 0.1em 0.1em 0.1em;*/
}

.back-button .glyphicon-share-alt {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  unicode-bidi:bidi-override;
  direction:rtl;
}

@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

.blink {
  animation:fade 3000ms infinite;
  -webkit-animation:fade 3000ms infinite;
}

.spaceTop {
  margin-top: 20px;
}

a:link,
a:hover,
a:visited,
a:active {
  color: $colorTextLight;
}

.btn-default,
a.btn-default:link,
a.btn-default:hover,
a.btn-default:visited,
a.btn-default:active {
  background-color: $colorLight;
  border-color: $colorAccentLight;
  color: $colorTextDark;
  background-position: 0% 0%;
  text-decoration: none;

}

div.btn {
  display: inline-block;
  padding: .5em;
}

.btn-transparent {
  color: inherit;
  background: transparent;
}

.list-group {

  .list-group-item {
    background-color: $colorLight;
    border-color: $colorAccentLight;
    color: $colorTextLight;

    .badge {
      font-size: .9em;
      background-color: $colorAccentLight;
      color: $colorTextLight;
    }
  }
}

.debug {
  display: none;
  background-color: $colorOverlayDark;
  padding: .5em;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
}

/** Layout **/

#page .page-content {
  margin-top: #{$header-height + .4}em;
  padding: .5em;

  &.app {
    margin-top: 0;
    padding: 0;

    &.ready .main-details .current-exercise {
      font-size: 1.5em;
      line-height: 2em;
    }

  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $colorDark;
  color: $colorTextLight;
  z-index: 200;
  height: #{$header-height}em;
  transition: top 200ms;

  .hidden {
    top: "-#{$header-height}em";
  }

  .header-left {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;

    .option {
      z-index: 1;
      position: absolute;
      left: .5em; top: 0;
      opacity: 0;
      transition: opacity 250ms;
      line-height: 4em;
      cursor: pointer;

      &.active {
        z-index: 200;
        opacity: 1;
      }

      img.logo {
        width: #{$header-height}em;
        height: #{$header-height}em;
      }
    }
  }

  .header-right {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 1em;
    text-align: right;
    line-height: 4em;
    /*width: 25%;*/
    /*-webkit-transform:rotateY(180deg);*/
    /*-moz-transform:rotateY(180deg);*/
    /*-o-transform:rotateY(180deg);*/
    /*-ms-transform:rotateY(180deg);*/

    .navbar-toggle {

    }
  }
}

.workout-list {
  color: #0c0c0c;

  .workout-equipment-item {
    background-color: $colorAccentLight;
    color: $colorTextLight;
  }

  .workout-item {
    cursor: pointer;
    position: relative;
    padding-bottom: .4em;

    .workout-exercise-cnt {
      float: left;
    }

    .workout-equipment {
      float: right;
    }

    .new-workout {
      display: none;
      margin-right: .5em;
      font-weight: 700;
    }

    &.new .new-workout {
      display: inline-block;
    }

    .item-actions {
      height: 0;
      overflow: hidden;
      padding-top: .5em;
      font-size: .75em;

      @include transition(height, 250ms);

      &.open {
        height: 24px;
      }
    }
  }
}

.back-container {
  position: absolute;
  left: 0;
  top: 0;
  padding: .5em;
  /*background-color: rgba(17, 17, 17, 0.80);*/
  background-color: $colorOverlayDark;
  border-radius: 0 0 $corner-radius 0;
  z-index: 15;

  a,
  a:link,
  a:hover,
  a:visited
  {
    font-size: 1em;
    color: #7887AB;
    text-transform: none;
    text-decoration: none;
  }
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}

.footer-details {
  vertical-align: middle;
  margin: 0 auto;
  padding: .5em;
  width: 90%;
  /*background-color: rgba(17, 17, 17, 0.80);*/
  background-color: $colorOverlayDark;
  border-radius: $corner-radius $corner-radius 0 0;

  .workout-controls {
    white-space: nowrap;
  }
}

.table-container {
  display: table;
  height: 100%;

  > .table-row {
    display: table-cell;
    vertical-align: middle;
  }
}

.screensaver {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;

  .panning {
    position:fixed;
    width: 50%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.workout-details {
  position: absolute;
  right: 0px;
  /*background-color: rgba(17, 17, 17, 0.80);*/
  background-color: $colorOverlayDark;
  border-radius: 0 0 0 $corner-radius;
  padding: .5em;
  text-align: right;
  z-index: 10;
  font-size: 1em;

  .next-exercise {

  }
}

.workout {
  color: $colorTextLight;

  .main-details {
    position:absolute;
    height:100%;
    width:100%;
    display: table;
    z-index: 0;
    //    background-color: #061539;

    .main-details-center {
      display: table-cell;
      vertical-align: middle;
      text-align:center;
      color: $colorTextLight;
    }

    .current-exercise {
      font-size: 1.75em;
    }

    .current-exercise-icon {
      width: 2em;

      > i {
        display: none;
        font-size: 2em;
      }
    }

    .main-countdown {
      font-size: 2.25em;
      &:after {
//        content: "\00a0";
      }
    }

    .main-details-content {
      padding: .5em;
      border-radius: 3px;
      display: inline-block;
      background-color: $colorOverlayDark;
    }
  }

  &.resting .main-countdown {
    color: red;
  }

  .workout-controls {
    text-align: center;
    font-size: 1.3em;

    button {
      line-height: .5em;
    }

    .control {
      display: none;

      .item {
        display: inline-block;
        padding: .2em .4em;

        &.item-selected {
          //          border: 1px solid #5BB45B;
        }
      }
    }
  }

  &.ready .workout-controls .play {
    display: inline-block;
  }

  &.stopped {
    .workout-controls .play,
    .workout-controls .restart {
      display: inline-block;
    }
  }

  &.working {
    .main-countdown {
      color: #5BB45B;
    }

    .workout-controls .pause,
    .workout-controls .stop {
      display: inline-block;
    }
  }

  &.prepping .main-countdown {
    color: #ffff00;

    .workout-controls .pause,
    .workout-controls .stop {
      display: inline-block;
    }
  }
}

.total-progress-bar {
  margin: .2em 0;
  display: inline-block;
  vertical-align: middle;
}

.total-progress-steps {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.footer-details {
  > .row > div {
    height: 34px;
  }
}

.settings-container {
  > .settings-control {
    display: inline-block;
    font-size: 1.3em;

    .setting {
      padding: .1em .4em;
      //      border: 1px solid #000;
    }

    .setting.item-selected {
      //      border: 1px solid #5BB45B;
    }
  }

  .settings-control.active .setting {
    color: #5BB45B;
  }
}

.workout-display-options {
  margin-bottom: .5em;

  p {
    display: inline-block;
  }

}

.workout-details-list {
  font-size: .85em;

  .exercise-name {
    display: inline-block;
    line-height: 2em;
  }

  .exercise-icon {
    display: inline-block;
    font-size: 1.25em;
    margin-right: .5em;
  }

  .badge {
    margin-top: .4em;
  }

  .exercise-description {
    max-height: 0;
    overflow: hidden;

    @include transition(max-height, 250ms);

    &.open {
      max-height: 350px;
      overflow-y: auto;
    }
  }
}

.bootbox-body {
  color: $colorTextDark;
}

.item-actions-indicator {
  line-height: 0;

  > i {
    line-height: 8px;
    font-size: 8px;
    display: none;
    &.open {
      display: inline-block;
    }
  }
}

.preview {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(255,255,255,0.2);

  .bubble {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid $colorAccentDark;
    border-radius: $corner-radius;
    padding: 10px;
    background: $colorOverlayDark;
    color: $colorTextLight;
    max-width: 40%;

    .bubble-next {
      margin-top: 10px;
    }

    .bubble-container {
      position: relative;
    }

    .arrow {
      position: absolute;
      top: -29px;
      width: 20px;
      height: 20px;
      background-color: red;
      background: transparent url(../images/arrow-left.png) no-repeat 0 0;
    }
  }

  .bubble-right {
    .arrow {
      right: -29px;
      background-image: url(../images/arrow-right.png);
    }

    .bubble-next {
      text-align: right;
    }
  }

  .bubble-left {
    .arrow {
      left: -29px;
      background-image: url(../images/arrow-left.png);
    }

    .bubble-next {
      text-align: left;
    }
  }
}

